.myCart {
    background-color:darkred;
    padding: 1rem;
  }

.myCartDiv{
  display: flex;
  justify-content: space-around;
  background-color:darkblue;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem;
}

.myCartImg{
  width: 25%;
}

.myCartP{
  color: whitesmoke;
}

.total{
  color: white;
}
