.mainImg {
    width: 100%;
}

.mainTitle {
    font-family: cursive;
    padding: 1rem;
    padding-top: 2rem;
    font-size:2rem;
    font-weight: bold;
    align-items: center;
    display: flex;
    justify-content: center;
}

.cartTitle{
    font-family: cursive;
    padding: 1rem;
    font-size:2rem;
    font-weight: bold;
}